In [27]:
import pandas as pd
import plotly
import seaborn as sns
from matplotlib import pyplot
from pathlib import Path
import os
from datetime import datetime

In [28]:
root_dir = Path(os.getcwd()).parent
data_dir = root_dir / "data"
chispazo_dir = data_dir / 'chispazo'

In [29]:
chispazo_files = os.listdir(chispazo_dir)

In [30]:
chispazo_files

['170722.csv',
 '140221.csv',
 '020825.csv',
 '100126.csv',
 '110725.csv',
 '100725.csv']

In [31]:
for i in chispazo_files:
    print(i.split('.')[0])

170722
140221
020825
100126
110725
100725

In [32]:
dates = []
for i in chispazo_dir.glob('*.csv'):
    try:
        file_name = i.stem
        date = datetime.strptime(file_name, "%d%m%y")
        dates.append((file_name, str(date.date())))
    except ValueError:
        continue

In [40]:
if dates:
    most_recent = max(dates, key=lambda x:x[1])
else:
    print("Files were not found in directory")

In [41]:
most_recent

('100126', '2026-01-10')

In [42]:
df = pd.read_csv(f'{chispazo_dir}/{most_recent[0]}.csv')

In [43]:
df.head()

   CONCURSO  R1  R2  R3  R4  R5       FECHA
0     11388   1   5  13  17  28  09/07/2025
1     11387   3  11  19  25  27  09/07/2025
2     11386   7   9  10  15  19  08/07/2025
3     11385   3   7  14  26  28  08/07/2025
4     11384   1   3  23  24  27  07/07/2025